<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

$ormParams = [
    'database'  => 'sfphp',
    'username'  => 'root',
    'password'  => '',
    'hostname'  => 'localhost',
    'port'  => '3306',
];

// https://secure.meetup.com/meetup_api/oauth_consumers/
$meetup = [
    'key' => 'keyhere',
    'secret' => 'ereh terces',
    'redirect' => 'http://dev-tomhanderson.sfphp.org/authentication',
];

/** -----End User Edit-------------------------------------- **/

return array(
    'meetup' => $meetup,

    /**
     * Doctrine configuration for sqlite
     */
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'driverClass' => 'Doctrine\DBAL\Driver\PDOSqlite\Driver',
                'params' => [
                    'path' => __DIR__ . '/../../data/sqlite.db',
                ],
            ],
        ],
    ],

    /**
     * Doctrine configuration for MySQL or Maria DB
     */
    /**
    'doctrine' => array(
        'connection' => array(
            'orm_default' => array(
                'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
                'params' => array(
                    'database'  => $ormParams['database'],
                    'user'  => $ormParams['username'],
                    'password'  => $ormParams['password'],
                    'host'  => $ormParams['hostname'],
                    'dbname'  => $ormParams['database'],
                    'port'  => $ormParams['port'],
                ),
            ),
        ),
    ),
    */
);
